/*// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

h1{
	color: #2eb82e;
	font: bold;
	font-size: 35px;
	font-family: sans-serif;
	margin: center;

}

h2{
	color: #997a00;
}

h4{
	color:#ff9999;
	font-weight: 10px;
	text-shadow: 10px;
}

p{
	font-size: 15px;
	font: bold;
}

.img-responsive {
	
	height: 700px;
}







